#tasks
  .split-main
    %span.button.right{:data => {:toggle => 'modal', :target => '#createModal'}} Write your thoughts

    %h1 Bdaya جوانيات
    %br
    
    .group
      -if @ideas.length > 0
        .title
        -@ideas.each do |idea|  
          .task.show-side{:data => {:link => (url_for idea)}}
            .status=#task.status
            %h2.name=idea.title
            .date=idea.created_at.to_date 

  .split-side
    .topbar
      %span.back.fa.fa-angle-left.fa-2x.topbarButton

    #details.content.hidden-scroll
      -if @ideas.first != nil
        = render :partial => 'ideas/details', :locals => {:@idea => @ideas.first}     



#createModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
        %h1 Write your thought
      .modal-body
        = render :partial => 'form', :locals => {:@idea => Idea.new ,:@t => "gowanyah"}
