<h1><%= @kid.name + "\'s" %> Assessments</h1>

<table border="1">

<tr>

<% @courses.each do |course| %>
	<th><%= link_to course.name, course %></th>
<% end %>
</tr>


<tr>
<% @courses.each do |course| %>
	<% course.course_grades.each do |g| %>
		<td><form action="~~">
		<select name="grades">
			<option value="<%= g.grade %>" selected><%= g.grade %></option>
			<option value="" disabled="disabled">---</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			</select>
		</td>
	<% end %>	
<% end %>
</tr>
</table>
	<input type="submit" value="Save" style="margin-left:81px;">
	</form>
