#tasks
	.split-main
		.content.hidden-scroll
			-#%span.button.right{:data => {:toggle => 'modal', :target => '#createModal'}} Create
			%h1 Tasks
			%ul.nav.nav-tabs
				%li.active
					%a{:href=> '#Pending', :data=> {:toggle=> 'tab'}} Pending
				%li
					%a{:href=> '#Done', :data=> {:toggle=> 'tab'}} Done	
				%li
					%a{:href=> '#Sent', :data=> {:toggle=> 'tab'}} Sent	

			%br

			.tab-content
				#Pending.tab-pane
					.group
						.title Today
						-@pending_tasks.each do |task|	
							.task{:data => {:link => (url_for task)}}
								.status=#task.status
								%h2.name=task.title
								.date=task.deadline
					.group
						.title Today
						.task
							.countdown 1:24
							.status
							%h2.name Task 1
							.date 14/2/2014

			.tab-content
				#Done.tab-pane
					.group
						.title Today
						-@done_tasks.each do |task|	
							.task{:data => {:link => (url_for task)}}
								.status=#task.status
								%h2.name=task.title
								.date=task.deadline
					.group
						.title Today
						.task
							.countdown 1:24
							.status
							%h2.name Task 1
							.date 14/2/2014

			.tab-content
				#Sent.tab-pane
					.group
						.title Today
						-@sent_tasks.each do |task|	
							.task{:data => {:link => (url_for task)}}
								.status=#task.status
								%h2.name=task.title
								.date=task.deadline
					.group
						.title Today
						.task
							.countdown 1:24
							.status
							%h2.name Task 1
							.date 14/2/2014								


	.split-side
		.topbar
			%span.back.fa.fa-angle-left.fa-2x.topbarButton

		#details.content.hidden-scroll
			= render :partial => 'tasks/details', :locals => {:@task => @tasks.first}


#createModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
	.modal-dialog
		.modal-content
			.modal-header
				%span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
				%h1 Create Task
			.modal-body



