#events
	-if @user.id == current_user.id
		%span.fa.fa-edit.right{:data => {:toggle => 'modal', :target => '#updateModal'}}
	%h1
		%span.fa.fa-user
		=@user.name
	%h2
		-if(current_user.president)
			="Bdaya President"
		-elsif(current_user.upper_board)
			="Bdaya Upper Board"	
		-elsif (current_user.head_of_committee?)
			="Bdaya " + current_user.head_of_committee.name + " Head"
		-elsif (current_user.vice_of_committee?)
			="Bdaya " + current_user.vice_of_committee.name + " Vice Head"
		-elsif (current_user.member_of_committee?)
			="Bdaya " + current_user.member_of_committee.name + " Member"
	
	%br
	.pp-user
		- unless @user.image.url == nil
			= image_tag @user.image.url
		- else
			= image_tag "logo.png", alt: 'logo'

	%br
	%h2
		%span.fa.fa-mail-forward
			E-mail
	=@user.email

	%br
	%br
	%h2
		%span.fa.fa-mobile-phone
			Phone Number
	=@user.phone

	%br
	%br
	%h2
		%span.fa.fa-book
			Faculty
	=@user.faculty
	%h3
		Major 
	-if(@user.major)
		=@user.major
	-else
		= "NA"	
	%h3
		Semester 
	=@user.semester


	%br
	%br
	%h2
		%span.fa.fa-exclamation-circle
			Tshirt Size
	=@user.tshirt_size

	%br
	%br
	%h2
		%span.fa.fa-location-arrow
			Address
	=@user.address

	-if @user.id == current_user.id
		#updateModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
			.modal-dialog
				.modal-content
					.modal-header
						%span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
						%h1 Update
					.modal-body
						= render :partial => 'form', :locals => {:@user => @user}
