.panel.panel-default
	-if(@event.is_manager?(current_user) || @event.is_creator?(current_user))	
		.panel-heading{"data-target" => "#addDescription", "data-toggle" => "modal"}
			%h1 Description
	-else
		.panel-heading	
			%h1 Description
	.panel-body
		=simple_format(@event.description)


.panel.panel-default
	-if(@event.is_manager?(current_user) || @event.is_creator?(current_user))
		.panel-heading{"data-target" => "#addIdea", "data-toggle" => "modal"}
			%h1 Idea
	-else
		.panel-heading
			%h1 Idea
	.panel-body
		=simple_format(@event.idea)

.panel.panel-default
	-if(@event.is_manager?(current_user) || @event.is_creator?(current_user))
		.panel-heading{"data-target" => "#addTheme", "data-toggle" => "modal"}
			%h1 Theme
	-else
		.panel-heading
			%h1 Theme
	.panel-body
		=simple_format(@event.theme)

.panel.panel-default
	.panel-heading
		%h1 Manager
	.panel-body
		-if @event.project_manager
			=@event.project_manager.name

.panel.panel-default
	-if(@event.is_manager?(current_user) || @event.is_creator?(current_user))
		.panel-heading{"data-target" => "#addMembers", "data-toggle" => "modal"}
			%h1 Members
	-else
		.panel-heading
			%h1 Members
	.panel-body
		-if @event.members
			-@event.members.each do |member|
				=link_to member.name, member

