#events
	-if Event.creatable_by? current_user
		%span.button.right{:data => {:toggle => 'modal', :target => '#createModal'}} Create

	%h1 Events List
	%br

	.event-list
		- @events.each do |event|
			= link_to event do
				.event-name.well.well-sm
					.fa.fa-bullhorn
					= event.name ? event.name : "Name N/A"



-if Event.creatable_by? current_user
	#createModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
		.modal-dialog
			.modal-content
				.modal-header
					%span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
					%h1 Create Event
				.modal-body
					= render :partial => 'form', :locals => {:@event => Event.new, :@project_managers => User.all}
