<div id='requests'>
<div class='split-main full lefty'>
<h1>Requests</h1>
	<h2>Room Requests</h2>
		<table class='datatable'>
	  		<thead>
      			<tr>
					<th>Creator</th>
					<th>Room No. </th>
					<th>Notes</th>
					<th>Date</th>
					<th>Time</th>
					<th></th>
				</tr>
	  		</thead>
	  		<tbody>
	  			<% @request_rooms.each do |req| %>
 					<%= render partial: "form", locals: { :@req => req } %>
				<% end %>
	  		</tbody>
		</table>
	<h2>Materials Requests</h2>
		<table class='datatable'>
	  		<thead>
      			<tr>
					<td>Creator</td>
					<td>Materials</td>
					<td>Notes</td>
					<th>Date</th>
					<th>Time</th>
					<th></th>
				</tr>
	  		</thead>
	  		<tbody>
				<% @request_materials.each do |req| %>
 					<%= render partial: "form", locals: { :@req => req} %>
				<% end %>
	  		</tbody>
		</table><br>
	<h2>Permissions Requests</h2>
		<table class='datatable'>
	  		<thead>
      			<tr>
					<td>Creator</td>
					<td>permissions</td>
					<td>Notes</td>
					<th>Date</th>
					<th>Time</th>
					<th></th>
				</tr>
	  		</thead>
	  		<tbody>
				<% @request_permissions.each do |req| %>
 					<%= render partial: "form", locals: { :@req => req} %>
				<% end %>
	  		</tbody>
		</table>
</div>
</div>
	