/************************************************************/
/* Content
/************************************************************/
@padding: 20px;
@topbar-height: 50px;

#content {
	position: relative;
	background-color: white;
	/* margin-left: @leftbar-width+1; */
	padding-top: @topbar-height;
	
	min-height: 100%;

	.transition(margin 0.5s);
	
	&.show-rightbar {
		margin-left: 0px;
		margin-right: @rightbar-width;

		#topbar, .topbar {
			margin-left: -@leftbar-width;
			margin-right: @rightbar-width;
		}
	}

	.split-main {
		// display: none;
		// position: absolute;
		// left: 0px; bottom: 0px; top: @topbar-height;
		// display: inline-block;
		width: 50%;
		// background-color: red;
		min-height: 100%;

		padding: @padding;
	}
	.split-side {
		// display: none;
		position: absolute;
		// display: inline-block;
		right: 0px; top: @topbar-height; bottom: 0px;
		width: 50%;

		background: @color2light;
		.box-sizing(); //Make border inside
		border-left: 1px solid @color-border;

		.topbar {
			position: absolute;
			right: 0px; left: 0px;
			z-index: 100;
			display: none;
		}

	}
}

.hidden-scroll {
	overflow-x: hidden;
	height: 100%;

	.scroll {
		position: absolute;
		top: 0px; left: 0px; bottom: 0px;
		right: -15px; //Hide Scrollbar
		overflow-y: scroll;
	}
}

#topbar, .topbar {
	height: @topbar-height;
	border-bottom: 1px solid @color-border;
	padding: 0px 15px 0px 15px;	
	background-color: white;
	color: #cecece;
	overflow: hidden;
	position: fixed;
	top: 0px; right: 0px; left: @leftbar-width;
	z-index: 100;

	.transition(margin 0.5s);

	span {
		margin: 14px 20px 14px 0px;
	}

	span.right {
		float: right;
		margin: 14px 0px 14px 20px;
	}

	.topbar-button {
		cursor: pointer;
		&:hover {
			color: @color1;
		}
	}
}

#search {
	span {
		margin-right: 0px;
	}
	input {
		border:none;
		font-size: 14px;
		height: 30px;
		padding: 0px 0px 0px 10px;
		margin: 0px;
		margin-top: -10px;
	}
}

#leftbar-button {display: none;}

.gap-discussion {
	background-color: white;
	border-top: 1px solid @color-border;
	border-bottom: 1px solid @color-border;

	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;

	color: @color2dark;
	padding: 5px;
	text-align: center;

	z-index: 10;

	cursor: pointer;
}

.discussion {
	background-color: @color2;
	overflow-x: hidden;

	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;

	display: none;

	.hidden-scroll { padding: @padding; }

	.msg {
		margin: 5px;

		.name {
			color: @color1;
			margin-bottom: 3px;
		}
		.msg-body {
			border-radius: 5px;
			background-color: white;
			border: 1px solid @color-border;
			padding: 10px 15px 10px 15px;
			font-size: 14px;
			display: inline-block;
		}
	}
	.form {
		position: absolute;
		background-color: @color2;
		padding-top: 5px;
		bottom: 40px;

		textarea {
			border: 1px solid @color-border;
			border-radius: 5px;
			height: 30px;
			width: 500px;

			&:hover, &:focus {
				border-color: @color1;
			}
		}
	}
	
}


/************************************************************/
/* Tablet Screens
/************************************************************/
@media only screen and (max-width : 1024px) {
	#content {
	    margin-left: 0px;
	    margin-right: 0px;
	    left: 0px;

	    .split-side {
	    	margin: 0px;
	    }
	    
	    &.show-rightbar {
			margin-left: -@leftbar-width;
			margin-right: @rightbar-width;

			#topbar, .topbar {
				margin-left: -@leftbar-width;
				margin-right: @rightbar-width;
			}
		}
		&.show-leftbar {
			margin-left: @leftbar-width;
			margin-right: -@rightbar-width;

			#topbar, .topbar {
				margin-left: @leftbar-width;
				margin-right: -@rightbar-width;
			}
		}
	}
	#topbar, .topbar {
		left: 0px;
	}
	#leftbar-button {display: inline-block;}
}


/************************************************************/
/* Smartphones Screens
/************************************************************/
@media only screen and (max-width : 480px) {
	#content {
		overflow-x: hidden;
		overflow-y: auto;

	    &.show-rightbar {
			margin-left: -100% + 15px;
			margin-right: 100% - 15px;

			#topbar, .topbar {
				margin-left: -100% + 15px;
				margin-right: 100% - 15px;
			}
		}
		&.show-leftbar {
			margin-left: 100% - 15px;
			margin-right: -100% + 15px;

			#topbar, .topbar {
				margin-left: 100% - 15px;
				margin-right: -100% + 15px;
			}
		}

		.split-main {
			width: 100%;
		}
		.split-side {
			overflow-x: hidden;
			overflow-y: auto;
			top: 0px;
			width: 100%;
			margin-right: -100%;
			border-left: none;
			.transition(margin 0.5s);

			&.show {
				margin: 0px;
				.topbar { position: fixed;}
			}

			.content { padding-top: @topbar-height + @padding; }
			.topbar { display: block;}
		}
	}
	#leftbarButton {display: inline-block;}
	#search input {display: none;}
}