#events {
	padding: @padding;


	.fa {
		margin-right: 10px;
	}
}

.event {
	margin-left: -1px; //Fixes annoying white space!


	.shadow {
		position: absolute;
		width: 100%;
		height: @cover-height;
		background-color: @color2dark;
		z-index: 0;
	}
	.background {
		position: absolute;
		width: 100%;
		height: @cover-height;
		background: url('/assets/event-cover.png') center center;
		background-size: cover;
		z-index: 0;
		opacity: 0.4;
	}
	@cover-height: 196px;
	.cover {
		position: relative;
		height: @cover-height;
		text-align: center;

		border-bottom: 1px solid @color-border;

		// background: url('/assets/event-cover.png') center center;
		// background-size: cover;
		// background-color: @color2dark;
		background-color: transparent;

		.name {
			background-color: @color1;
			display: inline-block;
			color: white;

			margin-top: 50px;

			padding: 15px 20px 15px 20px;

			font-size: 24px;

			cursor: pointer;
		}

		.slogan {
			margin: 5px;
			font-size: 18px;
			color: white;
			cursor: pointer;
		}

		.pp {
			width: 150px;
			height: 150px;

			border: 3px solid white;
			display: inline-block;
			overflow: hidden;

			background-color: @color2light;

			position: absolute;
			left: 25px;
			top: 60px;
			z-index: 10;
			

			img {
				width: 100%;
			}
		}
	}

	@side-width: 200px;
	.side {
		position: absolute;
		text-align: center;
		width: @side-width;

		overflow-x: hidden;

		left: 0px; top: @cover-height+@topbar-height; bottom: 0px;

		background-color: @color2light;
		border-right: 1px solid @color-border;

		
		padding-top: 20px;

		.datetime {
			text-align: left;
			padding: 13px;

			border-bottom: 1px solid @color-border;

			h5 {
				margin-bottom: 10px;
				text-align: center;
			}
			.day, .month, .year, .time, .ampm {
				font-size: 14px;
				font-weight: bold;
			}
			.day, .time {color: @color1;}
			.month, .ampm {color: @color2dark;}
			.year {color: #959595;}

			.fa {
				font-size: 14px;
				margin: 0px 10px 0px 0px;
				color: @color2dark;
			}
		}
	}

	.main {
		padding: @padding;
		margin-left: @side-width;

	}
}

#logistics {
	overflow-x: auto;
}

#designs-list {
	.item {
		// margin: 1px;
		// width: 200px;
		margin-bottom: 5px;
		border-radius: 5px;
		border: 1px solid @color-border;
		padding: 10px;
		text-align: center;
		img {
			width: 200px;
		}

		.button {
			display: inline-block;
			font-size: 14px;
			margin-bottom: 3px;
		}
	}
}

#add-design-form {
	display: none;
}