-if @feedback != nil
	.info
		-if @feedback.user.id == current_user.id
			%span.fa.fa-edit.right{:data => {:toggle => 'modal', :target => '#updateModal'}}

		%h1.arabic
			=@feedback.title

		.item
			%span.fa.fa-user
			%p 
				Sent By: 
				%strong=@feedback.user.name

		.item
			%span.fa.fa-calendar-o
			%p  
				%strong=@feedback.created_at.to_date

		.item
			%span.fa.fa-exclamation-circle
			=simple_format(@feedback.content, class: 'arabic')

		.item
			%span.fa.fa-gear
			%p 
				Status:  
				-if(@feedback.solved)
					%strong.green
						Solved
				-else
					%strong
						Pending

	-if(current_user.in_committee?("IT") && !@feedback.solved)
		.button.green= link_to 'Mark as Solved', mark_as_solved_feedback_path(@feedback.id), :method => 'post'
		
	-if @feedback.user.id == current_user.id
		#updateModal.modal.fade{:tabindex=>"-1", :role=>"dialog"}
			.modal-dialog
				.modal-content
					.modal-header
						%span.right.fa.fa-times.fa-2x{:data => {:dismiss => "modal"}}
						%h1 Update
					.modal-body
						= render :partial => 'form', :locals => {:@feedback => @feedback}		
						