#leftbar
	#logo
		= image_tag 'logo.png', alt: 'logo'
		%span <strong>Bdaya</strong> system

	#user-info
		.pp
			= image_tag 'pp.png', alt: 'logo'
			%h1 AhmeD HegazY
			%h2 Bdaya IT Head

	%ul.menu
		%a{href:'/'}
			%li
				%span.fa.fa-home Home
		%li
			%span.fa.fa-tasks Tasks
		
		%a{href:'/meetings'}
			%li
				%span.fa.fa-users Meetings